.btn
  display: inline-block
  min-width: 180px
  height: 35px
  box-sizing: border-box
  padding: 0 10px
  border-radius: 3px
  background: #FFF
  box-shadow: 1px 2px 3px 0px rgb(0, 17, 48)
  +spacing(70)
  +family
  text-align: center
  font-size: 13px
  +f(b)
  font-style: normal
  text-transform: uppercase
  text-decoration: none
  color: #000
  +trans(color)
  > span
    display: inline-block
    vertical-align: middle
  &:hover
    color: $red
  &:active
    transform: translate(0, 1px)
    box-shadow: none
  .icon
    margin-right: 10px

a.btn
  line-height: 35px

.btn_blue
  color: #1165AB
  box-shadow: 1px 2px 3px 0px rgb(136, 169, 226)

.btn_w230
  min-width: 230px

.btn-wrap
  margin-top: 30px


.icon
  display: inline-block


.logo
  display: block
  +hidetext
  +sprite(logo)


.schedule
  display: inline-block
  font-size: 13px
  line-height: normal

.schedule__time
  color: $lightgray
  margin-right: 10px
  display: inline-block
  vertical-align: middle

.schedule__days
  display: inline-block
  vertical-align: middle
  font-size: 0
  white-space: nowrap
  li
    display: inline-block
    vertical-align: middle
    margin-left: 4px
    background: #D0D5E0
    width: 11px
    height: 11px
    border-radius: 50%
    &:first-child
      margin-left: 0
    &.is-workday
      background: #012C77


.phone-number
  font-size: 13px
  line-height: normal
  color: $lightgray
  > span,
  > a
    display: inline-block
    vertical-align: middle
  > span
    margin-right: 10px
  > a
    text-decoration: none
    font-size: 22px
    +f(b)
    color: $link
    +spacing(30)


.title
  display: block
  margin-bottom: 25px
  font-size: 30px
  +f(b)
  color: #FFF
  +spacing(50)
  > a
    color: inherit
    text-decoration: none
    border-bottom: 1px solid
    +trans
    &:hover
      color: $red
      border-color: rgba($red, 0.3)

.title_small
  font-size: 24px
  +spacing(30)

.title_link
  display: inline-block
  font-size: 24px
  color: $link
  +spacing(30)
  > a, > span
    border-bottom: 1px solid
    border-color: $link
    border-color: rgba($link, 0.3)
    +trans
  > span
    &:hover
      color: $red
      border-color: $red
      border-color: rgba($red, 0.3)

.title_white
  color: #FFF
  > a
    border-color: #FFF
    border-color: rgba(#FFF, 0.3)


.number
  width: 240px
  height: 240px
  box-sizing: border-box
  padding: 35px 40px
  background: #01348C
  color: #FFF
  overflow: hidden

.number__value
  display: inline-block
  vertical-align: bottom
  font-size: 100px
  +f(b)
  line-height: 1
  +longshadow(#00276E)

.number__vertical
  display: inline-block
  vertical-align: bottom
  font-size: 18px
  width: 18px
  transform: rotate(-90deg)
  transform-origin: 0 0
  +f(b)
  text-transform: uppercase
  +spacing(30)
  +longshadowmod(#00276E)

.number__text
  position: relative
  z-index: 2
  margin-top: -5px
  display: block
  font-size: 15px
  line-height: 1.47


.text
  color: #151515
  font-size: 15px
  +spacing(30)
  > p
    margin: 15px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0

.text_light
  +color(light)

.text_gray
  +color(gray)


.news
  display: block
  text-decoration: none
  color: $link
  font-size: 18px
  +f(b)
  +spacing(30)
  line-height: 1.55
  & + &
    margin-top: 23px
  &:hover
    .news__title
      color: $red
      border-color: rgba($red, 0.3)

.news__title
  border-bottom: 1px solid
  border-color: rgba($link, 0.3)
  +trans

.news__date
  margin-left: 15px
  +f(r)
  font-size: 15px
  +color(gray)
