.l
  width: 980px
  margin: auto
  padding: 0 35px

.l-news
  +clr
.l-news__left
  float: left
  box-sizing: border-box
  width: 310px
  > img
    max-width: 100%
.l-news__rigth
  margin-left: 330px

.l-columns
  +clr
.l-columns__aside
  float: left
  width: 215px
  margin-right: -215px
  box-sizing: border-box
.l-columns__main
  margin-left: 250px
  float: left
