.header
  position: relative
  z-index: 2
  margin-bottom: 40px
  background: $lightbg
  .logo
    position: absolute
    left: 0
    top: 50%
    margin-top: -50px
  .schedule
    display: inline-block
    vertical-align: middle
    margin-right: 45px
  .btn
    vertical-align: middle
    margin-right: 45px
  .phone-number
    display: inline-block
    vertical-align: middle

.header_large
  background: none
  margin: 0
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 100px

.header__inner
  padding-left: 250px
  position: relative

.header__row
  text-align: right
  line-height: 70px
  height: 70px
  white-space: nowrap
  & + &
    border-top: 1px solid #D0D5DF


.nav
  display: inline-block
  vertical-align: middle
  line-height: normal

.nav__list
  font-size: 0
  li
    display: inline-block
    &:first-child
      .nav__link
        padding-left: 0
    &:last-child
      .nav__link
        padding-right: 0

.nav__link
  display: inline-block
  padding: 14px
  font-size: 13px
  +spacing(70)
  text-decoration: none
  color: #052E75
  text-transform: uppercase
  +trans(color)

  &:hover
    color: $red
  &.is-active
    color: #6B6C6D

.main-page
  background: $lightbg

.map-wrapper
  position: relative
  z-index: 0
  padding: 180px 0
  margin: -100px 0
  overflow: hidden
  .l
    position: relative
    z-index: 1
  & + *
    position: relative
    z-index: 1

.parralax
  position: absolute
  z-index: 0
  top: -100px
  bottom: -100px
  left: 0
  right: 0
  background: #070E1D img-url('map.jpg') no-repeat center center
  background-size: cover



.columns
  margin: 0 -10px
  +clr

.columns__text,
.columns__figure
  float: left
  width: 50%
  box-sizing: border-box
  padding: 0 10px

.columns__text
  padding-top: 35px


.slider
  position: relative
  background: $lightbg
  box-sizing: border-box
  max-width: 480px
  margin: auto

.slider_mrg
  margin-top: 60px
  margin-bottom: 60px

.slider_about
  position: relative
  left: 80px

.slider__head
  position: relative
  padding: 0 60px 12px 0
  border-bottom: 1px solid $hrcolor
  .title
    margin-bottom: 0
  .slider__buttons
    top: 2px
    right: 2px
    left: auto
    bottom: auto

.slider__slides
  +clr

.slider__buttons
  position: absolute
  bottom: 30px
  right: 30px

.slider__prev,
.slider__next
  width: 24px
  height: 24px
  line-height: 24px
  background: #FFF
  box-shadow: 2px 2px 0 0 #D1D7E2
  border-radius: 50%
  text-align: center
  line-height: normal
  &:active
    transform: translate(0,1px)
    box-shadow: none
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    position: relative
.slider__prev
  margin-right: 3px
  &:before
    +arr(6,8,#BBC3D1, l)
    left: -1px
.slider__next
  &:before
    +arr(6,8,#BBC3D1, r)
    left: 1px

.slider_narrow
  background: none
  margin-top: 48px
  .slider__slides
    padding: 0
    margin: 0 -20px
  .slider__prev,
  .slider__next
    background: $lightbg


.slide
  float: left
  position: relative
  padding: 50px 40px 55px
  box-sizing: border-box
  +clr
  .title
    margin-bottom: 7px
  display: none
  &:first-child
    display: block
  &.slick-slide
    display: block

.slide__img
  float: left
  position: relative
  width: 96px
  height: 139px
  border: 2px solid #FFF
  box-shadow: 0 3px 7px rgba(0, 35, 96, 0.28)
  cursor: pointer
  &:after
    opacity: 0
    visibility: hidden
    content: ""
    position: absolute
    bottom: 7px
    right: 7px
    +sprite(search)
    +trans
  img
    display: block
    max-width: 100%
  &:hover
    &:after
      opacity: 1
      visibility: visible

.slide__content
  margin-left: 120px

.slide_narrow
  padding: 20px
  width: 100%
  .slide__img
    float: right
    &:first-child
      float: left



.large-slider
  margin: 60px 0
  +clr

.large-slider__aside
  float: left
  width: 230px
  margin-right: -230px
  height: 100%
  +vertical
  &:before
    min-height: 373px

.large-slider__main
  margin-left: 250px
  position: relative

.large-slider__slides
  +clr

.large-slider__aside-text
  display: inline-block
  vertical-align: bottom
  +f(i)
  font-size: 15px
  color: rgba($dark, 0.6)
  text-align: right

.large-slider__prev,
.large-slider__next
  position: absolute
  top: 50%
  font-size: 50px
  line-height: 1
  color: #FFF
  background: none
  margin-top: -50px
  padding: 25px
  .ico
    display: block
    +trans(color)
  &:hover
    color: $red

.large-slider__prev
  left: 0

.large-slider__next
  right: 0


.large-slide
  display: none
  width: 100%
  height: 373px
  box-sizing: border-box
  float: left
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &:first-child
    display: block
  &.slick-slide
    display: block



.tile
  display: block
  text-decoration: none
  &:hover
    .title_link
      > span
        color: $red
        border-color: rgba($red, 0.3)

.tile__head
  position: relative
  height: 245px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

.tile__label
  position: absolute
  bottom: 26px
  left: 26px
  font-size: 15px
  line-height: 1.47
  font-style: normal
  font-weight: normal
  color: #FFF
  background: $link
  border-radius: 3px
  padding: 3px 10px

.tile__content
  background: #FFF
  padding: 26px 28px 35px


.news-block
  padding-left: 40px
  .title
    margin-bottom: 60px
  .news + .news
    margin-top: 23px


.links
  padding: 50px 0
  border: solid $hrcolor
  border-width: 1px 0
  font-size: 18px
  line-height: 1.55
  +spacing(30)
  +clr
  a
    text-decoration: none
    display: inline-block
    color: $link
    +trans(color)
    &:hover
      color: $red

.links__list
  float: left
  width: 25%
  > li
    margin-top: 22px
    &:first-child
      margin-top: 0


.footer
  margin-top: 60px
  background: $lightbg
  position: relative
  .scroll-to-top
    position: absolute
    bottom: 190px
    left: 50px

.footer__row
  display: table
  table-layout: fixed
  border-collapse: collapse
  width: 100%
  font-size: 15px

.footer__row_align-mid
  .footer__cell
    vertical-align: middle
    padding-top: 50px
  .phone-number
    margin: -20px 0 0 -50px
  .icon-logo-small
    position: relative
    top: 10px

.footer__cell
  display: table-cell
  width: 33.333%
  height: 150px
  box-sizing: border-box
  padding: 35px 0 25px
  &:first-child
    width: 245px
  &:last-child
    width: 245px
    text-align: right

.footer__bottom
  background: #FFF

.footer__links
  margin-top: 23px
  +spacing(30)
  color: $link
  font-size: 0
  > li
    font-size: 15px
    display: inline-block
    vertical-align: middle
    &:before
      content: "|"
      display: inline-block
      margin: 0 15px
      vertical-align: middle
      color: #CECECE
    &:first-child
      &:before
        content: none
  a
    color: inherit
    display: inline-block
    text-decoration: none
    +trans
    &:hover
      color: $red

.footer__made-in
  font-size: 15px
  color: #000
  .flex-logotype
    margin-left: 10px


.news-tiles
  margin: 20px -10px 0
  .news
    float: left
    width: 33.333%
    padding: 0 percentage(10/1000)

.news-tiles__row
  margin-top: 40px
  padding-top: 51px
  position: relative
  &:before
    content: ""
    position: absolute
    top: 0
    left: percentage(10/1000)
    right: percentage(10/1000)
    height: 1px
    background: $hrcolor
  +clr
  &:first-child
    margin-top: 0

.article
  font-size: 15px
  color: $dark
  line-height: 1.6
  +spacing(30)
  p
    margin: 28px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
  em
    +f(i)
  .title
    margin: 33px 0 18px
    &:first-child
      margin-top: 0

.lead
  font-size: 18px

p.lead
  font-size: 18px
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0


ul.marked-list
  list-style-type: none
  > li
    position: relative
    padding-left: 20px
    &:before
      content: ""
      position: absolute
      top: em(7,15)
      left: 0
      width: 6px
      height: 6px
      border-radius: 50%
      background: $blue

ol.marked-list
  list-style-type: decimal

.marked-list_links
  color: $link
  > li
    margin-top: 10px
  a
    text-decoration: none
    color: inherit
    +trans(color)
    &:hover
      color: $red

.simple-list
  list-style-type: none
  > li
    margin-top: 8px
    &:first-child
      margin-top: 0
    &.lead
      margin-bottom: 15px


.grid
  margin: 35px -10px -30px
  font-size: 0
  &:first-child
    margin-top: 0

.grid__item
  display: inline-block
  vertical-align: top
  width: 50%
  box-sizing: border-box
  padding: 0 10px
  margin: 0 0 30px
  font-size: 16px


.short-about
  position: relative
  margin: 50px 0
  padding: 0 0 0 212px
  min-height: 212px
  box-sizing: border-box
  background: $lightbg
  color: $dark
  font-size: 15px
  line-height: 1.6
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  .title
    margin-bottom: 5px

.short-about__pic
  position: absolute
  z-index: 1
  top: 0
  left: 0
  bottom: 0
  width: 212px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  cursor: pointer
  &:after
    content: ""
    position: absolute
    bottom: 13px
    right: 13px
    +sprite(increase)
    background-color: rgba(#FFF, 0.7)
    border-radius: 50%
    border: 8px solid transparent

.short-about__content
  padding: 22px 30px 35px 38px

.short-about__row
  display: block
  dd
    display: inline
    +f(b)
    font-style: normal
  dt
    display: inline
    font-style: normal
  a
    color: $link
    text-decoration: none
    +trans(color)
    &:hover
      color: $red
  sup
    vertical-align: super
    font-size: 9px


.table
  font-size: 15px
  line-height: 1.333
  border-collapse: collapse
  thead
    background: $blue
    border: solid $blue
    border-width: 1px 1px 0 1px
    th, td
      color: #FFF
      vertical-align: middle
  tbody
    border: solid $hrcolor
    border-width: 0 1px 1px 1px
    tr
      &:first-child
        td, th
          padding-top: 20px
      &:last-child
        td, th
          padding-bottom: 35px
  th, td
    text-align: left
    padding: 15px 0 16px 20px
    box-sizing: border-box
    vertical-align: top
    &:first-child
      max-width: 160px
    &:last-child
      text-align: right
      padding-right: 20px
      padding-left: 0

.table__producer
  display: block
  font-size: 18px
  margin-bottom: 14px

.table__links
  display: inline-block
  position: relative
  padding-top: 15px
  +f(i)
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 130px
    height: 1px
    background: $hrcolor
  .file
    margin-top: 13px


// .container-more
.container-more__content
  display: none

.container-more__btn
  width: 100%
  box-sizing: border-box
  background: $lightbg
  display: block
  height: 48px
  text-align: center
  border: 1px solid $hrcolor
  border-width: 0 1px 1px 1px
  +f(b)
  font-size: 15px
  color: $link
  +trans(color)
  text-decoration: none
  &:hover
    color: $red

.container-more_simple
  .container-more__btn
    display: inline-block
    width: auto
    margin-top: 14px
    background: none
    text-align: left
    line-height: 30px
    height: auto
    border: none


.advantages
  margin-top: 30px
  background-color: $lightbg
  padding: 8px
  background-image: repeating-linear-gradient(-39deg, #FFF 0, #FFF 2px, $hrcolor 2px, $hrcolor 3px, #FFF 3px, #FFF 5px)
  text-align: center

.advantages__inner
  background: #FFF
  padding: 15px 0 30px


.advantage
  display: block
  color: inherit
  text-decoration: none
  line-height: 1.333
  font-size: 15px
  max-width: 150px
  margin: auto
  & + &
    margin-top: 30px

.advantage__icon
  width: 80px
  height: 80px
  margin: 0 auto 5px
  border-radius: 50%
  box-sizing: border-box
  text-align: center
  line-height: 80px
  background: $lightbg
  .icon
    vertical-align: middle

.advantage__title
  font-size: 18px
  text-decoration: none

.advantage__text
  display: block
  margin: 10px auto 0


.about-news
  max-width: 630px
  margin: 40px auto

.about-intro
  margin: 40px 0

.metro-station
  display: inline-block
  &:before
    content: ""
    display: inline-block
    position: relative
    top: 1px
    margin-right: 5px
    +sprite(metro)

.info
  display: inline-block
  position: relative
  padding-left: 30px
  color: $blue
  text-decoration: none
  cursor: pointer
  +trans
  > span
    border-bottom: 1px dotted
  &:before
    content: ""
    position: absolute
    left: 0
    top: 50%
    margin-top: -10px
    +sprite(info)
  &:hover
    color: $red


.contact
  font-size: 18px
  line-height: 1.555
  +spacing(30)
  em
    +f(i)
    font-size: 15px
    color: $lightgray
    color: rgba($dark, 0.6)
  a
    color: $blue
    &:hover
      color: $red
  small
    color: #616161
    font-size: 14px
  hr
    display: block
    border: none
    max-width: 340px
    margin: 30px 0
    height: 1px
    background: $hrcolor
    &:last-child
      margin-bottom: 0
  > img
    display: block
    max-width: 100%
    margin-bottom: 38px
  .info
    margin: 7px 0 15px
  .btn
    display: block
    margin: 20px 0


.contact_small
  font-size: 15px
  line-height: 1.86


#map-canvas
  height: 365px


.popup-inner
  background: #FFF
  display: inline-block
  text-align: left
  // max-width: 410px
  // margin: auto
  border-bottom: 3px solid #D4D6DB

.message
  box-sizing: border-box
  padding: 45px 65px
  width: 410px
  margin: auto
  font-size: 15px
  line-height: 1.67
  text-align: center
  a
    text-decoration: underline
  .title
    margin-bottom: 18px

.message__close
  display: inline-block
  margin-top: 28px


.form
  padding: 45px 80px 75px
  box-sizing: border-box
  width: 410px
  margin: auto
  font-size: 15px
  line-height: 1.4
  .title
    text-align: center
    margin-bottom: 10px
  .btn
    margin-top: 22px

.field
  margin-top: 13px

.field__label
  font-size: 15px
  sup
    color: $red

.input
  display: block
  width: 100%
  padding: 5px 10px
  box-sizing: border-box
  height: 36px
  line-height: normal
  background: #F9F9F9
  border-radius: 0
  border: 1px solid #BFC5D0
  +f(r)
  font-size: 15px
  color: $dark
  +trans
  transition-property: background, border-color
  &:focus
    background: #FFF
  &.is-error
    border-color: $red
    color: $red

textarea.input
  height: 110px
  resize: none


.driving-direction
  width: 760px
  box-sizing: border-box
  padding: 35px 50px 60px
  > img
    display: block
    max-width: 100%
    margin: auto
  .title
    margin-bottom: 17px
    + .title
      margin-top: 0
  .title_small
    margin-bottom: 10px
