.header
  background: $lightbg
  position: relative
  .logo
    position: absolute
    left: 0
    top: 50%
    margin-top: -50px
  .schedule
    display: inline-block
    vertical-align: middle
    margin-right: 45px
  .btn
    vertical-align: middle
    margin-right: 45px
  .phone-number
    display: inline-block
    vertical-align: middle

.header__inner
  padding-left: 250px
  position: relative

.header__row
  text-align: right
  line-height: 70px
  height: 70px
  white-space: nowrap
  & + &
    border-top: 1px solid #D0D5DF


.nav
  display: inline-block
  vertical-align: middle
  line-height: normal

.nav__list
  font-size: 0
  li
    display: inline-block
    &:first-child
      .nav__link
        padding-left: 0
    &:last-child
      .nav__link
        padding-right: 0

.nav__link
  display: inline-block
  padding: 14px
  font-size: 13px
  +spacing(70)
  text-decoration: none
  color: #052E75
  text-transform: uppercase
  +trans(color)

  &:hover
    color: $red
  &.is-active
    color: #6B6C6D

.main-page
  background: $lightbg

.map-wrapper
  padding: 180px 0
  margin: -100px 0
  background: #070E1D img-url('map.jpg') no-repeat center center
  background-size: cover


.columns
  margin: 0 -10px
  +clr

.columns__text,
.columns__figure
  float: left
  width: 50%
  box-sizing: border-box
  padding: 0 10px

.columns__text
  padding-top: 35px


.slider
  background: $lightbg
  padding: 50px 40px 55px
  box-sizing: border-box
  +clr

.slider__slide
  float: left
  position: relative
  padding-left: 120px
  .title
    margin-bottom: 7px

.slider__img
  position: absolute
  top: 0
  left: 0
  width: 96px
  height: 139px
  box-shadow: 0 5px 25px -5px rgba(#002360, 0.28)
  img
    display: block
    max-width: 100%

.tile
  display: block
  text-decoration: none
  &:hover
    .title_link
      > span
        color: $red
        border-color: rgba($red, 0.3)

.tile__head
  position: relative
  height: 245px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat

.tile__label
  position: absolute
  bottom: 26px
  left: 26px
  font-size: 15px
  line-height: 1.47
  font-style: normal
  font-weight: normal
  color: #FFF
  background: $link
  border-radius: 3px
  padding: 3px 10px

.tile__content
  background: #FFF
  padding: 26px 28px 35px


.news-block
  padding-left: 40px
  .title
    margin-bottom: 60px


.links
  padding: 50px 0
  border: solid #D0D3DD
  border-width: 1px 0
  font-size: 18px
  line-height: 1.55
  +spacing(30)
  +clr
  a
    text-decoration: none
    display: inline-block
    color: $link
    +trans(color)
    &:hover
      color: $red

.links__list
  float: left
  width: 25%
  > li
    margin-top: 22px
    &:first-child
      margin-top: 0


.footer
  margin-top: 60px

.footer__row
  display: table
  table-layout: fixed
  border-collapse: collapse

.footer__row_align-mid
  .footer__cell
    vertical-align: middle

.footer__cell
  display: table-cell
  width: 33.333%
  height: 150px
  box-sizing: border-box
  padding: 35px 0 25px
  &:first-child
    width: 245px
  &:last-child
    width: 245px
    text-align: right

.footer__bottom
  background: #FFF
