$icons: (
  flex-logo: (X: -173px, Y:-109px, W: 29px, H: 31px, TW: 211px, TH: 172px, IMG: '../img/icons.png'),
  logo-small: (X: 0px, Y:-109px, W: 117px, H: 37px, TW: 211px, TH: 172px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:0px, W: 211px, H: 99px, TW: 211px, TH: 172px, IMG: '../img/icons.png'),
  phone-blue: (X: 0px, Y:-156px, W: 16px, H: 16px, TW: 211px, TH: 172px, IMG: '../img/icons.png'),
  phone-large: (X: -127px, Y:-109px, W: 36px, H: 36px, TW: 211px, TH: 172px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}



.icon-flex-logo {
  width: 29px;
  height: 31px;
  background-image: url('../img/icons.png');
  background-position: -173px -109px;
}

.icon-logo-small {
  width: 117px;
  height: 37px;
  background-image: url('../img/icons.png');
  background-position: 0px -109px;
}

.icon-logo {
  width: 211px;
  height: 99px;
  background-image: url('../img/icons.png');
  background-position: 0px 0px;
}

.icon-phone-blue {
  width: 16px;
  height: 16px;
  background-image: url('../img/icons.png');
  background-position: 0px -156px;
}

.icon-phone-large {
  width: 36px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -127px -109px;
}

