$icons: (
  file: (X: -221px, Y:-119px, W: 18px, H: 24px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  flex-logo: (X: -127px, Y:-109px, W: 29px, H: 31px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  logo-small: (X: 0px, Y:-109px, W: 117px, H: 37px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  logo: (X: 0px, Y:0px, W: 211px, H: 99px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  phone-blue: (X: -267px, Y:-73px, W: 16px, H: 16px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  phone-large: (X: -221px, Y:-73px, W: 36px, H: 36px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
  to-top: (X: -221px, Y:0px, W: 63px, H: 63px, TW: 284px, TH: 146px, IMG: '../img/icons.png'),
);


// Gets an attribute from the sass map
@function icon-attr($icon, $attr) {
  $icon: map-get($icons, $icon);
  @return map-get($icon, $attr);
}

@mixin sprite($iconName) {
  background-image: url(icon-attr($iconName, IMG));
  width: icon-attr($iconName, W);
  height: icon-attr($iconName, H);
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y);
}



.icon-file {
  width: 18px;
  height: 24px;
  background-image: url('../img/icons.png');
  background-position: -221px -119px;
}

.icon-flex-logo {
  width: 29px;
  height: 31px;
  background-image: url('../img/icons.png');
  background-position: -127px -109px;
}

.icon-logo-small {
  width: 117px;
  height: 37px;
  background-image: url('../img/icons.png');
  background-position: 0px -109px;
}

.icon-logo {
  width: 211px;
  height: 99px;
  background-image: url('../img/icons.png');
  background-position: 0px 0px;
}

.icon-phone-blue {
  width: 16px;
  height: 16px;
  background-image: url('../img/icons.png');
  background-position: -267px -73px;
}

.icon-phone-large {
  width: 36px;
  height: 36px;
  background-image: url('../img/icons.png');
  background-position: -221px -73px;
}

.icon-to-top {
  width: 63px;
  height: 63px;
  background-image: url('../img/icons.png');
  background-position: -221px 0px;
}

