@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=spacing($value:0)
  letter-spacing: $value / 1000 + em

=smoothfont
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=trans($prop: all, $dur: 0.2, $func: linear)
  transition: #{$prop} #{$dur}s #{$func}

@function makelongshadow($color)
  $val: 0px 0px $color
  @for $i from 1 through 170
    $val: #{$val}, #{$i}px #{$i}px #{$color}
  @return $val

@function makelongshadowmod($color)
  $val: 0px 0px $color
  @for $i from 1 through 170
    $val: #{$val}, #{-$i}px #{$i}px #{$color}
  @return $val

=longshadow($color)
  text-shadow: makelongshadow($color)

=longshadowmod($color)
  text-shadow: makelongshadowmod($color)

=color($color)
  @if $color == gray
    color: #565658
    color: rgba(#151515, 0.7)
  @if $color == light
    color: #CFD0D2
    color: rgba(#FFF, 0.7)

=img-shadow
  width: 96px
  height: 140px
  box-shadow: 0 3px 7px rgba(0, 35, 96, 0.28)
  overflow: hidden
  border: 2px solid #FFF
  box-sizing: border-box
  +trans(box-shadow)
  &:hover
    box-shadow: 0 3px 15px rgba(0, 35, 96, 0.5)
