/* done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Calibri, Open Sans, Helvetica, Arial, sans-serif; background: #FFF; font-size: 16px; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

button { font-family: Calibri, Open Sans, Helvetica, Arial, sans-serif; }

.icon-logo { width: 211px; height: 99px; background-image: url("../img/icons.png"); background-position: 0px 0px; }

.icon-phone-blue { width: 16px; height: 16px; background-image: url("../img/icons.png"); background-position: 0px -109px; }

.btn { display: inline-block; min-width: 180px; height: 35px; box-sizing: border-box; padding: 0 10px; border-radius: 3px; background: #FFF; box-shadow: 1px 2px 3px 0px #001130; letter-spacing: 0.07em; font-family: Calibri, Open Sans, Helvetica, Arial, sans-serif; text-align: center; font-size: 13px; font-weight: bold; font-style: normal; text-transform: uppercase; text-decoration: none; color: #000; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.btn > span { display: inline-block; vertical-align: middle; }
.btn:hover { color: #E43C3C; }
.btn:active { -webkit-transform: translate(0, 1px); -ms-transform: translate(0, 1px); transform: translate(0, 1px); box-shadow: none; }
.btn .icon { margin-right: 10px; }

a.btn { line-height: 35px; }

.btn_blue { color: #1165AB; box-shadow: 1px 2px 3px 0px #88a9e2; }

.btn_w230 { min-width: 230px; }

.btn-wrap { margin-top: 30px; }

.icon { display: inline-block; }

.logo { display: block; font: 0/0 a; text-shadow: none; color: transparent; background-image: url("../img/icons.png"); width: 211px; height: 99px; background-position: 0px 0px; }

.schedule { display: inline-block; font-size: 13px; line-height: normal; }

.schedule__time { color: #ADAFB2; margin-right: 10px; display: inline-block; vertical-align: middle; }

.schedule__days { display: inline-block; vertical-align: middle; font-size: 0; white-space: nowrap; }
.schedule__days li { display: inline-block; vertical-align: middle; margin-left: 4px; background: #D0D5E0; width: 11px; height: 11px; border-radius: 50%; }
.schedule__days li:first-child { margin-left: 0; }
.schedule__days li.is-workday { background: #012C77; }

.phone-number { font-size: 13px; line-height: normal; color: #ADAFB2; }
.phone-number > span, .phone-number > a { display: inline-block; vertical-align: middle; }
.phone-number > span { margin-right: 10px; }
.phone-number > a { text-decoration: none; font-size: 22px; font-weight: bold; color: #012C77; letter-spacing: 0.03em; }

.title { display: block; margin-bottom: 25px; font-size: 30px; font-weight: bold; color: #FFF; letter-spacing: 0.05em; }

.title_small { font-size: 24px; letter-spacing: 0.03em; }

.title_link { display: inline-block; font-size: 24px; color: #012C77; }
.title_link > span, .title_link > a { border-bottom: 1px solid; border-color: #012C77; border-color: rgba(1, 44, 119, 0.3); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.title_link > a { text-decoration: none; color: inherit; }
.title_link:hover > span, .title_link:hover > a { color: #E43C3C; border-color: rgba(228, 60, 60, 0.3); }

.number { width: 240px; height: 240px; box-sizing: border-box; padding: 35px 40px; background: #01348C; color: #FFF; }

.number__value { display: inline-block; vertical-align: bottom; font-size: 100px; font-weight: bold; line-height: 1; text-shadow: 1px 1px 0 #00276E, 2px 2px 0 #00276E, 3px 3px 0 #00276E, 4px 4px 0 #00276E, 5px 5px 0 #00276E, 6px 6px 0 #00276E; }

.number__vertical { display: inline-block; vertical-align: bottom; font-size: 18px; width: 18px; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; font-weight: bold; text-transform: uppercase; letter-spacing: 0.03em; text-shadow: -1px 1px 0 #00276E, -2px 2px 0 #00276E, -3px 3px 0 #00276E, -4px 4px 0 #00276E; }

.number__text { margin-top: -5px; display: block; font-size: 15px; line-height: 1.47; }

.l { width: 980px; margin: auto; padding: 0 35px; }

.menu-wrapper { height: 470px; margin-bottom: -100px; }

.menu { position: relative; background: #0C419E; min-height: 67px; }
.menu:after { content: ""; position: absolute; z-index: -1; top: 100%; left: 0; right: 0; width: 740px; height: 0; margin: auto; background-color: #000B20; box-shadow: 0 0 100px 22px #000B20; }

.menu__head { position: absolute; z-index: 3; top: 0; left: 0; right: 0; *zoom: 1; }
.menu__head:after { content: " "; display: table; clear: both; }

.menu__btn { position: relative; width: 33.333%; float: left; background: #012C77; height: 67px; color: #FFF; font-size: 22px; line-height: normal; font-weight: normal; letter-spacing: 0.05em; }
.menu__btn > span { display: inline-block; padding-right: 20px; position: relative; }
.menu__btn > span:after { content: ""; position: absolute; top: 50%; right: 4px; margin: -4px -2px 0 0; width: 0px; height: 0px; border-style: solid; border-width: 4px 0 4px 5px; border-color: transparent transparent transparent #FFF; }
.menu__btn:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 3px; background: #001740; }
.menu__btn:nth-child(2) { background: #0C419E; }
.menu__btn:nth-child(2):before { background: #092556; }
.menu__btn:last-child { background: #1165AB; }
.menu__btn:last-child:before { background: #0F4B7D; }
.menu__btn.is-active { background: none; }
.menu__btn.is-active:before { display: none; }
.menu__btn.is-active > span:after { margin: -2px -4px 0 0; width: 0px; height: 0px; border-style: solid; border-width: 5px 4px 0 4px; border-color: #FFF transparent transparent transparent; }

.menu__tab { display: none; position: relative; padding: 112px 0 0 33.333%; box-sizing: border-box; height: 470px; font-size: 0; background: #012C77 url("../img/tiger.png") no-repeat 100% 50%; overflow: hidden; }
.menu__tab:before { content: ""; position: absolute; z-index: 0; bottom: 60px; right: 230px; width: 0; height: 0; box-shadow: 0 0 285px 285px rgba(133, 167, 237, 0.25); }
.menu__tab:nth-child(2) { background-color: #0C419E; }
.menu__tab:last-child { background-color: #1165AB; }
.menu__tab.is-active { display: block; }

.menu__pic { position: absolute; z-index: 1; top: 0; bottom: 0; left: 0; width: 33.333%; }

.menu__tab-column { position: relative; z-index: 1; width: 50%; box-sizing: border-box; display: inline-block; vertical-align: top; padding-right: 40px; font-size: 15px; }

.menu__list { font-size: 18px; letter-spacing: 0.03em; color: #FFF; }
.menu__list > li { margin-top: 17px; }
.menu__list > li:before { content: ""; display: inline-block; vertical-align: middle; margin-right: 15px; width: 0; height: 0; border: 3px solid; border-radius: 50%; }
.menu__list > li:first-child { margin-top: 0; }
.menu__list a { text-decoration: none; border-bottom: 1px solid; border-color: #4E6EA6; border-color: rgba(255, 255, 255, 0.3); color: inherit; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.menu__list a:hover { color: #E43C3C; border-color: #E43C3C; border-color: rgba(228, 60, 60, 0.3); }

.menu__promo { color: #B8C1D7; font-style: italic; letter-spacing: 0.03em; }
.menu__promo:before { content: ""; position: absolute; top: 0; left: -40px; bottom: 0; width: 1px; background: #4E6EA6; background: rgba(255, 255, 255, 0.3); }
.menu__promo p + p { margin-top: 10px; }

.bg-glass { background: url("../img/glass.png") no-repeat 50% 100%; }

.header { background: #EDEFF3; position: relative; }
.header .logo { position: absolute; left: 0; top: 50%; margin-top: -50px; }
.header .schedule { display: inline-block; vertical-align: middle; margin-right: 45px; }
.header .btn { vertical-align: middle; margin-right: 45px; }
.header .phone-number { display: inline-block; vertical-align: middle; }

.header__inner { padding-left: 250px; position: relative; }

.header__row { text-align: right; line-height: 70px; height: 70px; white-space: nowrap; }
.header__row + .header__row { border-top: 1px solid #D0D5DF; }

.nav { display: inline-block; vertical-align: middle; line-height: normal; font-size: 0; }

.nav__link { display: inline-block; padding: 14px; font-size: 13px; letter-spacing: 0.07em; text-decoration: none; color: #052E75; text-transform: uppercase; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.nav__link:first-child { padding-left: 0; }
.nav__link:last-child { padding-right: 0; }
.nav__link:hover { color: #E43C3C; }
.nav__link.is-active { color: #6B6C6D; }

.main-page { background: #EDEFF3; }

.map-wrapper { padding: 180px 0; background: #070E1D url("../img/map.jpg") no-repeat center center; background-size: cover; }

.text { color: #CFD0D2; font-size: 15px; letter-spacing: 0.03em; }
.text > p { margin: 15px 0; }
.text > p:first-child { margin-top: 0; }
.text > p:last-child { margin-bottom: 0; }

.columns { margin: 0 -10px; *zoom: 1; }
.columns:after { content: " "; display: table; clear: both; }

.columns__text, .columns__figure { float: left; width: 50%; box-sizing: border-box; padding: 0 10px; }

.columns__text { padding-top: 35px; }

.slider { background: #EDEFF3; padding: 50px 40px 55px; box-sizing: border-box; *zoom: 1; }
.slider:after { content: " "; display: table; clear: both; }

.slider__slide { float: left; position: relative; padding-left: 120px; }
.slider__slide .title { margin-bottom: 7px; }
.slider__slide .text { color: #717274; }

.slider__img { position: absolute; top: 0; left: 0; width: 96px; height: 139px; box-shadow: 0 5px 25px -5px rgba(0, 35, 96, 0.28); }
.slider__img img { display: block; max-width: 100%; }



/*# sourceMappingURL=screen.css.map */