//BEGIN popup
.popup#form
  .popup__inner
    button.popup__close(type="button")
      | Закрыть

    //BEGIN form
    form.form#order-form(name="order_form", novalidate)
      strong.title.title_center
        | Форма заказа
      .field
        label.field__label(for="name") Имя<sup>*</sup>
        input.input(type="text", name="name", id="name", required)
      .field
        label.field__label(for="phone") Телефон<sup>*</sup>
        input.input(type="tel", name="phone", id="phone", required)
      .field
        label.field__label(for="email") E-mail
        input.input(type="email", name="email", id="email")
      .field
        label.field__label(for="msg") Сообщение
        textarea.input(name="msg", id="msg")
      button.btn.btn_blue.btn_gray.btn_fw(type="submit")
        | Закзать
    //END form

//END popup
