doctype html
html
  head
    include partials/_head

  body.main-page

    //BEGIN out
    .out
      block content
    //END out

    include partials/_footer

    //LOAD SCRIPTS
    script(src="js/main.js")
