block vars
  - var footerMap = true

extends _layout

append scripts
  script(type="text/javascript", src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script(type="text/javascript", src="js/map.js")

block title
  title Contacts

block content
  .l
    //BEGIN breadcrumbs
    ul.breadcrumbs
      li: a(href="#") Главная
      li: a(href="#") Контакты
    //END breadcrumbs

    //BEGIN contacts
    .heading
      h1.title.title_large
        | Контактная информация

    .l-col
      .column
        strong.title.title_medium
          | Наш адрес
        .contact
          p
            | 125319, г. Москва, <b class="metro-station">Аэропорт</b> (970 м),
            br
            | ул. Черняховского, д. 19 (территория завода «ЖБИ
            br
            | №23»), (Долгота: 37.686293; Широта: 55.710058)
            br
            span.info(data-popup="#driving-direction")
              span Как до нас добраться
            br
            em
              | Пн-пт: с 9:00 до 18:00 без обеда.<br>
              | Выходные дни: суббота и воскресенье.
        strong.title.title_medium
          | Контактные данные
        .contact
          p
            | тел./факс: <b>(495) 215-01-44</b> <small>(многоканальный)</small>
            br
            a(href="mailto:info@masstar.ru") info@masstar.ru
            br
            button.btn.btn_blue.btn_gray.btn_w340(type="button", data-popup="#form") Форма обратной связи
          hr
      .column
        .contact.contact_small
          img(src="img/about-company.jpg", alt="")
          p
            strong ООО «Масстар»
            br
            | ИНН 7707018446, КПП 771401001, р/с № 40702810000000000581,
            br
            | в Центральном филиале АБ «РОССИЯ» пос. Газопровод, Моcковская обл.,
            | к/с № 30101810400000000132, БИК 044599132 ОКВЭД 51.70; 45.21.1; 45.21.7; 74.20.11,
            | ОКПО 17549291

    strong.title.title_small
      | Отдел по пластику и оргстеклу
    .l-col
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru

    strong.title.title_small
      | Отдел по изделиям из оргстекла
    .l-col
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third

    strong.title.title_small
      | Отдел по шумозащите
    .l-col
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third
        p.contact
          | Виктор Владимирович
          br
          | тел./факс: <b>(495) 215-01-44 (доб.111)</b>
          br
          a(href="mailto:info@masstar.ru") info@masstar.ru
      .column.one-third
    //END contacts

  include popups/_driving-direction
  include popups/_form
