extends _layout

append scripts
  script(type="text/javascript", src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
  script(type="text/javascript", src="js/map.js")

block title
  title Delivery

block content
  .l
    ul.breadcrumbs
      li: a(href="#") Главная
      li: a(href="#") Доставка и оплата
    .heading
      h1.title.title_large
        | Доставка и оплата

    //BEGIN delivery
    .l-col.delivery-item
      .column.one-fourth
        h3.title.title_medium
          | Доставка 
      .column.three-fourth.article
        strong.title.title_smallest
          | Условия доставки:
        ul.marked-list
          li
            | Разгрузка силами Получателя.
          li
            | Стоимость отгрузки: от 100 тысяч бесплатно
          li
            | Срочная отгрузка — стоимость от 3300 (минималка транспортной)
          li
            | При отгрузке сборной машиной — срок 2-3 дня, стоимость 1500 руб
          li
            | После согласования всех вопросов готовы к немедленной отгрузке
          li
            | Реально в течении 1-3 дней (согласование вопросов с транспортной компанией и получателем
            | по стоимости отгрузки и способу упаковки)
        p: em
          | Отгрузка продукции со склада возможна сразу же после поступления оплаты, если иное
          | не предусмотрено договоренностями или условиями заключенного договора.
        hr.dashed-line

    .l-col.delivery-item
      .column.one-fourth
        h3.title.title_medium
          | Оплата
      .column.three-fourth.article
        strong.title.title_smallest
          | Оплата возможна как для физических, так и для юридических лиц:
        ul.marked-list
          li Наличный расчет
          li Безналичный расчет
        p
          | Возможны различные варианты оплаты. При работе  с физ лицами и компаниями,
          | которые работаю впервые обычно используется вариант предоплаты. В случае
          | если компания работает постоянно, зарекомендовала себя как надежный партнер,
          | мы применяем различные варианты отсрочки.
        hr.dashed-line

    .l-col.delivery-item
      .column.one-fourth
        h3.title.title_medium
          | Самовывоз
      .column.three-fourth.article
        p
          | На <b>въезд</b> пропуск <b>не требуется</b>, на <b>выезд</b> пропуск
          | <b>выдается сотрудниками компании</b> при выписке документов
        p.contact
          | 125319, г. Москва, <span class="metro-station">Аэропорт</span> (970 м),
          br
          | ул. Черняховского, д. 19 (территория завода «ЖБИ№23»)
          br
          | тел./факс: <b>(495) 215-01-44</b> <small>(многоканальный)</small>
        p: em
          | Пн-пт: с 9:00 до 18:00 без обеда.<br>
          | Выходные дни: суббота и воскресенье.
        //- img(src="img/map-small.jpg", alt="map")
        #map-canvas.map-small
    //END delivery
