extends _layout

block title
  title news

block content
  .l
    //BEGIN breadcrumbs
    ul.breadcrumbs
      li: a(href="#") Главная
      li: a(href="#") Новости и события
    //END breadcrumbs


    //BEGIN news-tiles
    h1.title.title_large
      | Новости и события

    .news-tiles
      .news-tiles__row
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news1.jpg", alt="")
          strong.news__title
            | Сатинированные (матированные) оргстекло и поликарбонат перестали быть дефицитными продуктами
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news2.jpg", alt="")
          strong.news__title
            | Компания «Масстар» начала монтаж экранов на Дмитровском шоссе
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news3.jpg", alt="")
          strong.news__title
            | «Масстар» заканчивает строитель- ство экранов на М-5
          span.news__date
            | 25 Сентября 2015
      .news-tiles__row
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news4.jpg", alt="")
          strong.news__title
            | Сатинированные (матированные) оргстекло и поликарбонат перестали быть дефицитными продуктами
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news5.jpg", alt="")
          strong.news__title
            | Сатинированные (матированные) оргстекло
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news6.jpg", alt="")
          strong.news__title
            | Сатинированные (матированные) оргстекло и поликарбонат
          span.news__date
            | 25 Сентября 2015
      .news-tiles__row
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news1.jpg", alt="")
          strong.news__title
            | Сатинированные (матированные) оргстекло и поликарбонат перестали быть дефицитными продуктами
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news2.jpg", alt="")
          strong.news__title
            | Компания «Масстар» начала монтаж экранов на Дмитровском шоссе
          span.news__date
            | 25 Сентября 2015
        a(href="#").news.news_tile
          .news__pic
            img(src="img/news/news3.jpg", alt="")
          strong.news__title
            | «Масстар» заканчивает строитель- ство экранов на М-5
          span.news__date
            | 25 Сентября 2015
    //END news-tiles

    include partials/_pagi
