- var pages = ['index', 'news', 'news-inner', 'plastiki', 'plastiki-sotoviy', 'plastiki-sotoviy-komplekt', 'about-company', 'contacts', 'popups', 'catalog']
ol(style="margin:100px;font-size:30px")
  each page in pages
    li: a(href=page + '.html')=page
