extends _layout

block title
  title Plastiki

block content
  .l
    .l-columns
      aside.l-columns__aside
        //BEGIN aside-nav
        ul.aside-nav
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | Монолитный поликарбонат
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | Сотовый поликарбонат
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | Полистирол в листах
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | АБС в листах
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | Вспененный ПВХ
          li.aside-nav__item
            a.aside-nav__link(href="#")
              | ПЭТ
        //END aside-nav

        //BEGIN slider
        .slider.slider_narrow
          .slider__head
            h3.title.title_small
              | Сертификаты
            .slider__buttons
              button.slider__prev(type="button")
              button.slider__next(type="button")
          .slider__slides
            .slide.slide_narrow
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
            .slide.slide_narrow
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
            .slide.slide_narrow
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
              .slide__img
                img(src="img/certificats/cert.jpg", alt="")
          p.text.text_gray
            | Более <a href="#">18 сертификатов</a>, подтверждающих
            | сотрудничество с топовыми поставщиками пластика.
        //END slider

        //BEGIN slider
        .slider.slider_narrow
          .slider__head
            h3.title.title_small
              | Вопрос-ответ
            .slider__buttons
              button.slider__prev(type="button")
              button.slider__next(type="button")
          .slider__slides
            .slide.slide_narrow
              .text.text_gray
                p: b
                  | Как вы упаковываете листо-
                  | вое оргстекло для транспор-
                  | тировки?
                p
                  | Листовое оргстекло (листовой акрил) мы отгружаем на дере-
                  | вянных поддонах (паллетах).
                  br
                  a(href="#") Подробнее
            .slide.slide_narrow
              .text.text_gray
                p: b
                  | Вопрос 2
                p
                  | Ответ 2
                  br
                  a(href="#") Подробнее
            .slide.slide_narrow
              .text.text_gray
                p: b
                  | Вопрос 3
                p
                  | Ответ 3
                  br
                  a(href="#") Подробнее
        //END slider

      .l-columns__main
        //BEGIN breadcrumbs
        ul.breadcrumbs
          li: a(href="#") Главная
          li: a(href="#") Каталог
          li: a(href="#") Пластики
        //END breadcrumbs

        //BEGIN main content
        .heading
          a.heading__link(href="#")
            .icon.icon-file
            span Скачать прайс
          h1.title.title_large
            | Пластики

        .article
          p.lead
            | Компания «Масстар» поставляет пластики на российский рынок уже более 18 лет.
            | Мы ежемесячно отгружаем десятки тонн пластика сотням потребителей от Калининграда
            | до Владивостока. Благодаря большим оборотам мы продаем оргстекло
            | по низким ценам.

        //BEGIN grid
        ul.grid
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                a(href="#")
                  | Монолитный поликарбонат
              p.text
                | Монолитный поликарбонат используют везде, где главными требованиями
                | к материалу являются высокая ударопроч- ность, безопасность и прозрачность.
              ul.product-tile__logos
                li: img(src="img/logos/polygal.png", alt="")
                li: img(src="img/logos/novattro.png", alt="")
                li: img(src="img/logos/borex.png", alt="")
              em.product-tile__amount
                | от 3-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 25 900Р
            //END product-tile
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                a(href="#")
                  | Сотовый поликарбонат
              p.text
                | Сотовый (ячеистый) поликарбонат – пластик
                | с очень тонкими стенками и малым весом.
              ul.product-tile__logos
                li: img(src="img/logos/polygal.png", alt="")
                li: img(src="img/logos/novattro.png", alt="")
                li: img(src="img/logos/borex.png", alt="")
              em.product-tile__amount
                | от 3-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 109 900Р
            //END product-tile
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                a(href="#")
                  | Полистирол в листах
              p.text
                | Монолитный поликарбонат используют везде, где главными требованиями
                | к материалу являются высокая ударопроч- ность, безопасность и прозрачность.
              ul.product-tile__logos
                li: img(src="img/logos/gebau.png", alt="")
                li: img(src="img/logos/zuroplast.png", alt="")
              em.product-tile__amount
                | от 2-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 25 900Р
            //END product-tile
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                a(href="#")
                  | АБС в листах
              p.text
                | Сотовый (ячеистый) поликарбонат – пластик
                | с очень тонкими стенками и малым весом.
              ul.product-tile__logos
                li: img(src="img/logos/polygal.png", alt="")
                li: img(src="img/logos/novattro.png", alt="")
                li: img(src="img/logos/borex.png", alt="")
              em.product-tile__amount
                | от 3-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 109 900Р
            //END product-tilet
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                a(href="#")
                  | Вспененный ПВХ
              p.text
                | Монолитный поликарбонат используют везде, где главными требованиями
                | к материалу являются высокая ударопроч- ность, безопасность и прозрачность.
              ul.product-tile__logos
                li: img(src="img/logos/polygal.png", alt="")
                li: img(src="img/logos/novattro.png", alt="")
                li: img(src="img/logos/borex.png", alt="")
              em.product-tile__amount
                | от 3-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 25 900Р
            //END product-tile
          li.grid__item
            //BEGIN product-tile
            .product-tile
              strong.title.title_link
                span
                  | ПЭТ
              p.text
                | Сотовый (ячеистый) поликарбонат – пластик
                | с очень тонкими стенками и малым весом.
              ul.product-tile__logos
                li: img(src="img/logos/polygal.png", alt="")
                li: img(src="img/logos/novattro.png", alt="")
                li: img(src="img/logos/borex.png", alt="")
              em.product-tile__amount
                | от 3-х производителей
              .product-tile__footer
                a.btn.btn_gray.btn_blue(href="#")
                  | Подробнее
                span.product-tile__price
                  | от 109 900Р
            //END product-tile
        //END grid
        //END main content
