extends _layout

block title
  title Services

block content
  .l
    ul.breadcrumbs
      li: a(href="#") Главная
      li: a(href="#") Сопутствующие услуги
    .heading
      h1.title.title_large
        | Сопутствующие услуги

    //BEGIN services
    .l-col.services-item
      .column.one-third
        img(src="img/services/rezka.jpg", alt="rezka v razmer")
      .column.two-third.article
        h3.title.title_medium
          | Резка в размер
        ul.marked-list
          li
            | Удивительно высокая <strong>ударная прочность</strong> (превышает прочность ПВХ в 8 раз, стекла – в 200 раз);
          li
            | <strong>Малый удельный вес</strong> (при одинаковой толщине материал легче акрила
            | в 3 раза и примерно в 16 раз легче стекла);
          li
            | <strong>Высокий показатель теплоизоляции</strong> (пропускает тепло меньше, чем однослойное стекло);
          li
            | Отличная <strong>светопроницаемость</strong> (показатель прозрачности достигает 86%);
          li
            | <strong>Стойкость к атмосферным воздействиям</strong> (успешное применение в условиях
            | чрезмерно низких и достаточно высоких температур в диапазоне от -40ºС до +120ºС);
          li
            | <strong>Защита от УФ-излучения</strong> (благодаря специальному защитному слою, листы сотового
            | поликарбоната предотвращают проникновение в помещение ультрафиолетового излучения);

    .l-col.services-item
      .column.one-third
        img(src="img/services/matirovanie.jpg", alt="matirovanie")
      .column.two-third.article
        h3.title.title_medium
          | Матирование
        p.lead
          | Первое направление нашей деятельности – выполнение комплекса работ по выбору
          | для производственных предприятий сырья и комплектующих.
          | Прежде всего, листовых и гранулированных пластиков.
        p
          | Компания «Масстар» начинает прием заказов на оказание новой услуги – матирование
          | (сатинирование) органического стекла и монолитного поликарбоната.
          | Образцы можно посмотреть у нас в офисе. Присылайте заявки и уточняйте
          | стоимость работ по т. (495) 215-01-44 и по электронной почте info@masstar.ru.
    //END services
