extends _layout

block title
  title Question - answer

block content
  .l
    ul.breadcrumbs
      li: a(href="#") Главная
      li: a(href="#") Вопрос-ответ
    .heading
      h1.title.title_large
        | Вопрос-ответ

    //BEGIN quetion-answer
    h2.title.title_medium
      | Вопросы по оргстеклу
    ul.accordion.article.qa
      li.accordion__item
        button.accordion__btn(type="button")
          span У Вас можно купить литой поликарбонат?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Листы монолитного поликарбоната оптом за наличные деньги Вы продаете?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span При покупке монолитного поликарбонат оптом Вы организуете доставку за свой счет?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Вы продаете монолитный поликарбонат в розницу?
        .accordion__content.article
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Ячеистый монолитный поликарбонат Вы поставляете?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
    //END quetion-answer

    hr

    //BEGIN quetion-answer
    h2.title.title_medium
      | Вопросы по пластику
    ul.accordion.article.qa
      li.accordion__item
        button.accordion__btn(type="button")
          span У Вас можно купить литой поликарбонат?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Листы монолитного поликарбоната оптом за наличные деньги Вы продаете?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span При покупке монолитного поликарбонат оптом Вы организуете доставку за свой счет?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Вы продаете монолитный поликарбонат в розницу?
        .accordion__content.article
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Ячеистый монолитный поликарбонат Вы поставляете?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
    //END quetion-answer

    hr

    //BEGIN quetion-answer
    h2.title.title_medium
      | Вопросы по шумозащите
    ul.accordion.article.qa
      li.accordion__item
        button.accordion__btn(type="button")
          span У Вас можно купить литой поликарбонат?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span Листы монолитного поликарбоната оптом за наличные деньги Вы продаете?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
      li.accordion__item
        button.accordion__btn(type="button")
          span При покупке монолитного поликарбонат оптом Вы организуете доставку за свой счет?
        .accordion__content
          p
            | Да. Этот вид пластика чаще всего называют сотовый поликарбонат
            | (реже – сотовый монолитный поликарбонат). Более подробно с ассортиментом
            | и условиями поставки Вы можете ознакомится в разделе нашего
            | сайта <a href="#">Cотовый поликарбонат</a>.
    //END quetion-answer
