//BEGIN advantages
ul.advantages
  .advantages__inner
    strong.title.title_small
      | Преимущества

    .advantage
      .advantage__icon
        i.icon.icon-truck
      a(href="#").advantage__title.like-link
        strong Доставка
      span.advantage__text
        | Бесплатная доставка в пределах Москвы и области.

    .advantage
      .advantage__icon
        i.icon.icon-gear
      a(href="#").advantage__title.like-link
        strong Сопутствующие услуги
      span.advantage__text
        a(href="#") Резка в размер
        br
        a(href="#") Матирование

    .advantage
      .advantage__icon
        i.icon.icon-badge
      a(href="#").advantage__title.like-link
        strong Гарантия качества
      span.advantage__text
        | 14 лет гарантии от производителя
//END advantages
