//BEGIN advantages
ul.advantages
  .advantages__inner
    strong.title.title_medium
      | Преимущества

    a.advantage(href="#")
      .advantage__icon
        i.icon.icon-truck
      strong.advantage__title.like-link
        | Доставка
      span.advantage__text
        | Бесплатная доставка в пределах Москвы и области.

    a.advantage(href="#")
      .advantage__icon
        i.icon.icon-gear
      strong.advantage__title.like-link
        | Сопутствующие услуги
      span.advantage__text
        | Резка в размер
        br
        | Матирование

    a.advantage(href="#")
      .advantage__icon
        i.icon.icon-badge
      strong.advantage__title.like-link
        | Гарантия качества
      span.advantage__text
        | 14 лет гарантии от производителя
//END advantages
