//BEGIN aside-nav
ul.aside-nav
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span Монолитный поликарбонат
  li.aside-nav__item
    a.aside-nav__link.is-active(href="#")
      span Сотовый поликарбонат
    .aside-nav__content
      span.aside-nav__label Комплектующие:
      ul.marked-list.marked-list_links
        li: a(href="#") Торцевой профиль
        li: a(href="#") Соединительный неразъемный
        li: a(href="#") «Полискреп»
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span Полистирол в листах
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span АБС в листах
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span Вспененный ПВХ
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span ПЭТ
//END aside-nav
