//BEGIN aside-nav
ul.aside-nav
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span Построенные<br>объекты
  li.aside-nav__item
    a.aside-nav__link.is-active(href="#")
      span Отзывы заказчиков
    //- .aside-nav__subnav
    //-   span.aside-nav__label Комплектующие:
    //-   ul
    //-     li: a.aside-nav__sublink.is-active(href="#")
    //-       span Торцевой профиль
    //-     li: a.aside-nav__sublink(href="#")
    //-       span Соединительный неразъемный
    //-     li: a.aside-nav__sublink(href="#")
    //-       span «Полискреп»
  li.aside-nav__item
    a.aside-nav__link(href="#")
      span Статьи и документы
//END aside-nav
