//BEGIN footer
footer.footer
  .l
    include _links

    .footer__row.footer__row_align-mid
      .footer__cell
        a.icon.icon-logo-small(href="/")
      .footer__cell
      .footer__cell

  .footer__bottom
    .l
      .footer__row
        .footer__cell
          span.text.text_gray
            | © «Масстар» 1992–2015
        .footer__cell
          span.text.
            125319, г. Москва, ул. Черняховского,
            <br> д. 19 («ЖБИ №23»)
        .footer__cell
//END footer
