meta(charset="utf-8")
block title
  title Template
meta(name="viewport" content="width=1050")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/screen.css")
<!--[if IE]><script src="js/html5shiv.js"></script><![endif]-->
