//BEGIN header
header.header
  .l
    .header__inner
      .header__logo
        a(href="pages.html").logo Масстар

      .header__row
        .schedule
          span.schedule__time
            | 9:00–18:00
          ul.schedule__days
            li.is-workday
            li.is-workday
            li.is-workday
            li.is-workday
            li.is-workday
            li
            li
        button.btn.btn_blue(type="button")
          span.icon.icon-phone-blue
          span Обратный звонок
        .phone-number
          span
            | Многоканальный &mdash;
          a(href="tel:4952150144")
            | (495) 215-01-44

      .header__row
        nav.nav
          a.nav__link.is-active(href="#")
            | Главная
          a.nav__link(href="#")
            | Каталог
          a.nav__link(href="#")
            | О компании
          a.nav__link(href="#")
            | Новости
          a.nav__link(href="#")
            | Прайс-листы
          a.nav__link(href="#")
            | Доставка и оплата
          a.nav__link(href="#")
            | Контакты
//END header
