//BEGIN links
nav.links
  ul.links__list
    li: a(href="#") Главная
    li: a(href="#") О компании
    li: a(href="#") Новости
    li: a(href="#") Прайс-листы
    li: a(href="#") Контактная <br> информация

  ul.links__list
    li: a(href="#") <b>Оргстекло</b>
    li: a(href="#") Экструзионное<br>оргстекло
    li: a(href="#") Блочное оргстекло
    li: a(href="#") Авиационное оргстекло
    li: a(href="#") Трубы и стержни <br> из оргстекла
    li: a(href="#") Изделия из оргстекла

  ul.links__list
    li: a(href="#") <b>Пластики</b>
    li: a(href="#") Монолитный<br>поликарбонат
    li: a(href="#") Сотовый поликарбонат
    li: a(href="#") Полистирол в листах
    li: a(href="#") АБС в листах
    li: a(href="#") Вспененный ПВХ
    li: a(href="#") Другие пластики

  ul.links__list
    li: a(href="#") <b>Шумозащита</b>
    li: a(href="#") Построенные объекты
    li: a(href="#") Отзывы заказчиков
    li: a(href="#") Статьи и документы
//END links
