//BEGIN menu
.menu-wrapper(class=menuWrapperMod)
  .menu(class=menuMod)
    if menuButtons != false
      .menu__head
        button.menu__btn(type="button")
          span Оргстекло
        button.menu__btn(type="button")
          span Пластики
        button.menu__btn(type="button")
          span Шумозащита
    .menu__content
      .menu__tab
        .menu__pic.bg-glass
        h2.title.title_white
          | Каталог оргстекла
        .menu__tab-column
          ul.menu__list
            li: a(href="#")
              | Экструзионное оргстекло
            li: a(href="#")
              | Блочное оргстекло
            li: a(href="#")
              | Авиационное оргстекло
            li: a(href="#")
              | Трубы и стержни из оргстекла
            li: a(href="#")
              | Изделия из оргстекла
        .menu__tab-column.menu__promo
          p Оптом и в розницу. Разрежем по вашим размерам, упакуем и доставим по всей территории России.
          p Постоянный складской запас.
          .btn-wrap
            a.btn.btn_mrg(href="#")
              | Заказать расчёт
      .menu__tab
        .menu__pic.bg-glass2
        h2.title.title_white
          | Каталог пластика
        .menu__tab-column
          ul.menu__list
            li: a(href="#")
              | Монолитный поликарбонат
            li: a(href="#")
              | Сотовый поликарбона
            li: a(href="#")
              | Полистирол в листах
            li: a(href="#")
              | АБС в листах
            li: a(href="#")
              | Вспененный ПВХ
            li: a(href="#")
              | Другие пластики
        .menu__tab-column.menu__promo
          p Оптом и в розницу. Разрежем по вашим размерам, упакуем и доставим по всей территории России.
          p Постоянный складской запас.
          .btn-wrap
            a.btn.btn_mrg(href="#")
              | Заказать расчёт
      .menu__tab
        .menu__pic.bg-glass2
        h2.title.title_white
          | Шумозащита
        .menu__tab-column
          ul.menu__list
            li: a(href="#")
              | Построенные объекты
            li: a(href="#")
              | Отзывы заказчиков
            li: a(href="#")
              | Статьи и документы
        .menu__tab-column.menu__promo
          p Оптом и в розницу. Разрежем по вашим размерам, упакуем и доставим по всей территории России.
          p Постоянный складской запас.
          .btn-wrap
            a.btn.btn_mrg(href="#")
              | Заказать расчёт
//END menu
