//BEGIN pagi
.pagi
  a.pagi__btn.pagi__prev.is-inactive(href="#") Позже
  a.pagi__btn.is-active(href="#") 1
  a.pagi__btn(href="#") 2
  a.pagi__btn(href="#") 3
  a.pagi__btn(href="#") ...
  a.pagi__btn(href="#") 25
  a.pagi__btn.pagi__next(href="#") Раньше
//END pagi
