//BEGIN slider
.slider.slider_narrow
  .slider__head
    h3.title.title_small
      | Вопрос-ответ
    .slider__buttons
      button.slider__prev(type="button")
      button.slider__next(type="button")
  .slider__slides
    .slide.slide_narrow
      .text.text_gray
        p: b
          | Как вы упаковываете листо-
          | вое оргстекло для транспор-
          | тировки?
        p
          | Листовое оргстекло (листовой акрил) мы отгружаем на дере-
          | вянных поддонах (паллетах).
          br
          a(href="#") Подробнее
    .slide.slide_narrow
      .text.text_gray
        p: b
          | Вопрос 2
        p
          | Ответ 2
          br
          a(href="#") Подробнее
    .slide.slide_narrow
      .text.text_gray
        p: b
          | Вопрос 3
        p
          | Ответ 3
          br
          a(href="#") Подробнее
//END slider
