//BEGIN slider
.slider.slider_narrow
  .slider__head
    h3.title.title_medium
      | Сертификаты
    .slider__buttons
      button.slider__prev(type="button")
      button.slider__next(type="button")
  .slider__slides
    .slide.slide_narrow
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
    .slide.slide_narrow
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
    .slide.slide_narrow
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
      .slide__img
        img(src="img/certificats/cert.jpg", alt="")
  p.text.text_gray
    | Более <a href="#">18 сертификатов</a>, подтверждающих
    | сотрудничество с топовыми поставщиками пластика.
//END slider
