//BEGIN slider
.slider.slider_narrow
  .slider__head
    h3.title.title_medium
      | Отзывы
    .slider__buttons
      button.slider__prev(type="button")
      button.slider__next(type="button")
  .slider__slides
    .slide.slide_narrow
      a.slide__img.js-box(href="img/certificats/cert.jpg")
        img(src="img/certificats/cert.jpg", alt="")
      .slide__content
        p.text.text_gray
          b ЗАО”Москва-сити”
          br
          | “Спасибо за работу Наша компания выражает огромную благодарность за ваш труд!”
          br
          a(href="#") Подробнее
    .slide.slide_narrow
      a.slide__img.js-box(href="img/certificats/cert.jpg")
        img(src="img/certificats/cert.jpg", alt="")
      .slide__content
        p.text.text_gray
          b Отзыв 2
          br
          | “Спасибо за работу Наша компания выражает огромную благодарность за ваш труд!”
          br
          a(href="#") Подробнее
    .slide.slide_narrow
      a.slide__img.js-box(href="img/certificats/cert.jpg")
        img(src="img/certificats/cert.jpg", alt="")
      .slide__content
        p.text.text_gray
          b Отзыв 3
          br
          | “Спасибо за работу Наша компания выражает огромную благодарность за ваш труд!”
          br
          a(href="#") Подробнее
//END slider
